body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 20px;
}

.menuButton{
    margin-top:10px;
    margin-bottom:5px;
    font-size:20px;
    width:40px;
}

header {
    text-align: center;
    background-color: white;
    padding: 10px;
}

.logo {
    width: 120px;
}

nav {
    background-color:rgb(87,64,3);
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    font-weight: bold;
}

main {
    background-color: white;
    padding: 15px;
}

section,
.ad-box {
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px;
}

.subjects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.subjects article {
    width: 400px;
}

img {
    max-width: 100%;
}

button{
    background-color: brown;
    padding: 5px;
}

button, 
    input[type="submit"]{
    background-color: rgb(87, 64, 3);
    padding: 5px;
}
.helpIcon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(87, 64, 3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}



.ad-box {
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: rgb(114, 114, 236);
    color: white;
    padding: 5px;
    margin-top: 20px;
}

@media (max-width: 900px) {
    .menuButton{
        display:block;
    }
    
    nav{
        display: block;
    }
    .subjects article {
        width: 100%;
    }
}
